{% extends 'base.html.twig' %}

{% form_theme formText '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}
{% form_theme formChoice '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}
{% form_theme formSelect2 '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}
{% form_theme formDateTime '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}
{% form_theme formDateTimePicker '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}
{% form_theme formOther '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}
{% form_theme formButton '@OlixBackOffice/Twig/form-theme-layout.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block content_title %}Formulaires{% endblock %}
{% block content_subtitle %}{% endblock %}


{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">

                {{ form_start(formText) }}
                <div class="card card-blue">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type Texte</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formText) }}
                    </div>
                </div>
                {{ form_end(formText) }}

                {{ form_start(formDateTime) }}
                <div class="card card-olive">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type date et heure</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formDateTime) }}
                    </div>
                </div>
                {{ form_end(formDateTime) }}

                {{ form_start(formDateTimePicker) }}
                <div class="card card-indigo">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type DateTimePicker</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formDateTimePicker) }}
                    </div>
                </div>
                {{ form_end(formDateTimePicker) }}

            </div>
            <div class="col-md-6">

                {{ form_start(formChoice) }}
                <div class="card card-orange">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type Choix</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formChoice) }}
                    </div>
                </div>
                {{ form_end(formChoice) }}

                {{ form_start(formSelect2) }}
                <div class="card card-orange">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type Select2 &amp; DualListBox</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formSelect2) }}
                    </div>
                </div>
                {{ form_end(formSelect2) }}

                {{ form_start(formOther) }}
                <div class="card card-gray">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type Autres</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formOther) }}
                    </div>
                </div>
                {{ form_end(formOther) }}

                {{ form_start(formButton) }}
                <div class="card card-green">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire type Bouton</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(formButton) }}
                    </div>
                </div>
                {{ form_end(formButton) }}

            </div>
        </div>

    </div>

{% endblock %}
