{% extends 'base.html.twig' %}

{#% form_theme form '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %#}
{% form_theme form _self %}
{% use '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %}
{#% use 'bootstrap_4_layout.html.twig' %#}

{% block title %}Hello DefaultController!{% endblock %}
{% block content_title %}Formulaires{% endblock %}
{% block content_subtitle %}{% endblock %}


{# Nom de 'block_prefix' du formulaire "StepType" #}
{% block step_row -%}
    <div class="form-group form-row collection-item">
        <div class="col-sm-12">
            <div class="form-group form-row form-control-sm">
                <div class="col-12 col-lg-6">
                    {{ form_widget(form.content1, { attr: form.content1.vars.attr|merge({'class': form.content1.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.content1) }}
                    {{ form_help(form.content1) }}
                </div>
                <div class="col-12 col-lg-5">
                    {{ form_widget(form.content2, { attr: form.content2.vars.attr|merge({'class': form.content2.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.content2) }}
                    {{ form_help(form.content2) }}
                </div>
                <div class="col-2 col-lg-1">
                    <button type="button" class="btn btn-danger btn-sm collection-btn-delete">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}


{% block content %}

    <div class="container-fluid">

        {% include '@OlixBackOffice/Include/flash-messages.html.twig' %}

        {% if result is not null %}
            {{ dump(result) }}
        {% endif %}
        

        <div class="row">
            <div class="col-md-12">

                {{ form_start(form) }}
                <div class="card card-blue">
                    <div class="card-header">
                        <h3 class="card-title">Formulaire de test</h3>
                    </div>
                    <div class="card-body">
                        {{ form_rest(form) }}
                    </div>
                    <div class="card-footer justify-content-between">
                        <button type="submit" class="btn btn-success float-right">Valider</button>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>

    </div>

    {% include '@OlixBackOffice/Include/modal.html.twig' with { title: "Chargement du formulaire" } %}

{% endblock %}
